In [27]:
# Import Pandas
import pandas as pd
import locale

In [2]:
# Initialize a variable to hold the file path to the PyBank csv file
csvpath = "Resources/budget_data.csv"
csvpath

'Resources/budget_data.csv'

In [17]:
# Create a pandas dataframe from the csv data
budget_file_df = pd.read_csv(csvpath, encoding="UTF-8")

#Check that the dataframe was properly created
budget_file_df.head(5)

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [32]:
# Count the total number of months for which there is data in the file
total_months = budget_file_df["Date"].count()
total_months

86

In [5]:
# Calculate the total net profit in the Profit/Losses column for the entire period
net_profit = budget_file_df["Profit/Losses"].sum()
net_profit

22564198

In [19]:
# Find the average month-over-month change in Profit / Losses
# First, create a new column in the dataframe that shifts Profit/Losses up by one month to allow for ease of calculation
budget_file_df["Next Month"] = budget_file_df["Profit/Losses"].shift(-1)
budget_file_df.head()

     Date  Profit/Losses  Next Month
0  Jan-10        1088983   -354534.0
1  Feb-10        -354534    276622.0
2  Mar-10         276622   -728133.0
3  Apr-10        -728133    852993.0
4  May-10         852993    563721.0

In [20]:
# Create another column that calculates the month-over-month change in Profit/Losses holds the change
budget_file_df["Delta"] = budget_file_df["Next Month"] - budget_file_df["Profit/Losses"]
budget_file_df.head()

     Date  Profit/Losses  Next Month      Delta
0  Jan-10        1088983   -354534.0 -1443517.0
1  Feb-10        -354534    276622.0   631156.0
2  Mar-10         276622   -728133.0 -1004755.0
3  Apr-10        -728133    852993.0  1581126.0
4  May-10         852993    563721.0  -289272.0

In [23]:
# Find the average change, or "Delta"
average = budget_file_df["Delta"].mean()
average

-8311.105882352942

In [24]:
# Find the greatest increase between months in "Profit/Losses"
increase = budget_file_df["Delta"].max()
increase

1862002.0

In [25]:
# Find the greatest decrease between months in "Profit/Losses"
decrease = budget_file_df["Delta"].min()
decrease

-1825558.0

In [34]:
# Create a new summary dataframe that holds and displays the summary information about the PyBank budget file
Summary_df = pd.DataFrame({"Summary":
              ["Total Months", "Total Net Profit", 
               "Average Monthly Change", 
               "Greatest MoM Increase in Profits", 
               "Greatest MoM Decrease in Profits"], 
              "Amount": 
              [total_months,
               net_profit, average, 
               increase, 
              decrease]})

# Set the index
Summary_df.set_index("Summary", inplace=True)

# Set the locale to US to be able to format data as USD
locale.setlocale(locale.LC_ALL, "en_US.UTF-8")

# Apply the local to the Amount column to format it as USD
Summary_df["Amount"] = Summary_df.apply(lambda row: 
                                        locale.currency(row["Amount"], grouping=True) 
                 if row.name != 1 else row["Amount"], axis=1)

Summary_df

                                          Amount
Summary
Total Months                              $86.00
Total Net Profit                  $22,564,198.00
Average Monthly Change                -$8,311.11
Greatest MoM Increase in Profits   $1,862,002.00
Greatest MoM Decrease in Profits  -$1,825,558.00

In [35]:
# Export this table as a text file

# First set the file path
file_path = "summary.csv"

# Export the summary dataframe to this file
Summary_df.to_csv(file_path), index=False, encoding="en_US.UTF-8")

SyntaxError: cannot assign to function call (2062212593.py, line 7)